.navbar-fixed-top {
    min-height: 13%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-fixed-top .mainLogo {
    max-height: 10vmin;
    margin-left: 10%;
}

.navbar-fixed-top .menus a {
    margin-left: 50px;
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;
}

.navbar-fixed-top a {
    margin: 20px;
    margin-top: 25px;
    margin-left: 50px;
    letter-spacing: 5px;
    font-size: 170%;
    font-family: 'Lato', sans-serif;
}

.navbar-brand img {
  min-width: 300px;
  min-height: 170px;
}

.teamTitle {
  font-family: 'Merriweather', serif;
  margin-left: auto;
  margin-right: auto;
  padding-left: 11.5%;
  align: center;
  width: 6em
}

.presentation {
  margin: 0 auto;
  width: 80%;
}


@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
.mainBody {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}


/********************************/


/*          Main CSS     */


/********************************/

.mainBody #first-slider .main-container {
    padding: 0;
    padding-top: 100px;
}

.mainBody .marger {
    margin-bottom: 100px;

}

.mainBody #first-slider .slide1 h3,
#first-slider .slide2 h3,
#first-slider .slide3 h3,
#first-slider .slide4 h3 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 2px #000;
}

.mainBody #first-slider .slide1 h4,
#first-slider .slide2 h4,
#first-slider .slide3 h4,
#first-slider .slide4 h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px #000;
}

.mainBody #first-slider .slide1 .text-left,
#first-slider .slide3 .text-left {
    padding-left: 40px;
}

.mainBody #first-slider .carousel-indicators {
    bottom: 0;
}

.mainBody #first-slider .carousel-control.right,
#first-slider .carousel-control.left {
    background-image: none;
}

.mainBody #first-slider .carousel .item {
    min-height: 425px;
    height: 100%;
    width: 100%;
}

.mainBody .carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.mainBody #first-slider h3 {
    animation-delay: 1s;
}

.mainBody #first-slider h4 {
    animation-delay: 2s;
}

.mainBody #first-slider h2 {
    animation-delay: 3s;
}

.mainBody #first-slider .carousel-control {
    width: 6%;
    text-shadow: none;
}

.mainBody #first-slider h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.mainBody #first-slider .p {
    padding-top: 125px;
    text-align: center;
}

.mainBody #first-slider .p a {
    text-decoration: underline;
}

.mainBody #first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, .4);
    border: none;
}

.mainBody #first-slider .carousel-indicators .active {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: none;
}

.mainBody .carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.mainBody .carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.mainBody .carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.mainBody .carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mainBody .carousel-fade .carousel-control {
    z-index: 2;
}

.mainBody .carousel-control .fa-angle-right,
.carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.mainBody .carousel-control .fa-angle-left {
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}

.mainBody .carousel-control .fa-angle-right {
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}

.mainBody .carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/


/*       Slides backgrounds     */


/********************************/

#first-slider .slide1 {
    background-image: url(../../../assets/images/machineInjection.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#first-slider .slide2 {
    background-image: url(../../../assets/images/galaroform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#first-slider .slide3 {
    background-image: url('../../../assets/images/glaroform 1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#first-slider .slide4 {
    background-image: url(../../../assets/images/salon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/********************************/


/*          Media Queries       */


/********************************/

@media screen and (min-width: 980px) {}

@media screen and (max-width: 640px) {}

.div_fixed {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 0;
}

.other_content {
    background-color: #ffffff;
    z-index: 1;
    position: relative;
}

.quotation {
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

.illustration {
    padding-top: 30px;
    margin-right: 2%;
    max-width: 100px;
    margin-left: 5%;
    min-width: 150px;
    margin-bottom: 20px;
}

.img-circle {
    border-radius: 50%;
}

.dedicace {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #97BEC2;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dedicace h3 {
    font-size: 32px;
}

.firms {
    min-height: 200px;
    padding: 1%;
    background-color: #C7D4D9;
    position: center;
}

.firm {
    max-width: 150px;
    opacity: 0.5;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.firm:hover {
    opacity: 1;
}

.otherArticles {
    margin-bottom: 0;
}

.bottomFooter {
    z-index: 1000;
}

.completeFooter {
    z-index: 1000;
    background-color: #292929;
    min-height: 70px;
    color: #999999;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 1%;
}

.completeFooter .textFoot {
    padding-top: 5%;
    padding-left: 10%;
}

.completeFooter .logoFoot img {
    padding-top: 10%;
    max-width: 30%;
}

.completeFooter a {
    color: #999999;
}

.completeFooter img {
    max-width: 25vmin;
    display: block;
    margin: auto;
}

.completeFooter p,
a {
    display: block;
    margin: auto;
}

.completeFooter h4 {
    text-align: center;
}

.copyright {
    padding-left: 10%;
}

html,
body {
    height: 100%;
}

.carousel {
    width: 100%;
    background-color: #000;
    height: 100%;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-fade .carousel-control .glyphicon {
    font-size: 6rem;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.stopfade {
    opacity: 0.5;
}

.slide-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.slide-content video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

.slide-content video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

.door {
    font-family: Revista-Black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.door .title {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    line-height: 13rem;
}

.door .description {
    border-top: 1px solid #fff;
    margin-top: 15px;
    font-size: 4rem;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
.get-in-touch .align-center {
    text-align: center;
}

.get-in-touch html {
    height: 100%;
}

.get-in-touch body {
    height: 100%;
    position: relative;
}

.get-in-touch .row {
    margin: -20px 0;
}

.get-in-touch .row:after {
    content: "";
    display: table;
    clear: both;
}

.get-in-touch .row .col {
    padding: 0 20px;
    float: left;
    box-sizing: border-box;
}

.get-in-touch .row .col.x-50 {
    width: 50%;
}

.get-in-touch .row .col.x-100 {
    width: 100%;
}

.get-in-touch .content-wrapper {
    min-height: 100%;
    position: relative;
}

.get-in-touch {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    margin-top: 300px;
    margin-bottom: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.get-in-touch .title {
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 48px;
}

.get-in-touch .contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.get-in-touch .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #000;
    font-family: Lusitana, serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.get-in-touch .contact-form .input-text:focus {
    outline: none;
}

.get-in-touch .contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.get-in-touch .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-family: Lusitana, serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    cursor: text;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.get-in-touch .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.get-in-touch .note {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: Lusitana, serif;
    font-size: 16px;
    line-height: 21px;
}

.get-in-touch .note .link {
    color: #888;
    text-decoration: none;
}

.get-in-touch .note .link:hover {
    text-decoration: underline;
}

.contactImages {
  height: 100px;
}
